<div class="row">
  <div class="col-sm-12">

    <h4 class="product-title">Your current cart</h4>

    <%= link_to "Clean up my cart", clean_session_cart_index_path, class: "btn btn-danger", method: :post %>

    <table class="table table-sm table-striped table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Product name</th>
          <th>Qty.</th>
          <th>$</th>
        </tr>
      </thead>
      <tbody class="tbody-results">
        <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td>1</td>
            <td><%= product.price %></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td>Total amount</td>
          <td><%= @session_cart.total_amount %></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>