<% if opts[object_key] %>
  <p>Filtered by <%= opts[object_key] %></p>
  <%= link_to "Remove filter", results_path(search_id: search.id, "remove_#{object_key}" => true, keep: true) %>
<% else %>
  <ul class="nav flex-column nav-tabs">
    <% objects.each do |object| %>
      <li class="nav-item active">
        <%= link_to "#{object[:key]}: #{object[:doc_count]}", results_path(search_id: search.id, object_key => object[:key], keep: true), class: 'nav-link'  %>
      </li>
    <% end %>
  </ul>
<% end %>
