
<nav class="vertical-navbar navbar navbar-light bg-light">
	<span class="navbar-text navbar-text-sidebar"><%= title %></span>
  <div class="navbar-collapse mr-auto">
    <ul class="navbar-nav">
    	<% if @results_session.send(object_key) %>
			  <span class="navbar-text">Filtered by <%= @results_session.send(object_key) %></span>
			  <li class="nav-item">
			  	<%= link_to "Remove filter <i class='fa fa-times'></i>".html_safe, results_path(search_id: search.id, "remove_#{object_key}" => true, keep: true), class: 'nav-link nav-link-sidebar' %>
			  </li>
			<% else %>
	    	<% objects.each do |object| %>
		      <li class="nav-item">
		        <%= link_to "#{object[:key]}: #{object[:doc_count]}", results_path(search_id: search.id, object_key => object[:key], keep: true), class: 'nav-link nav-link-sidebar'%>
		      </li>
		    <% end %>
		  <% end %>
    </ul>
  </div>
</nav>
