<div class="card card-purchase">
    <div class="card-body">
        <p class="card-text">This order was paid with Credit Card Number: <%= @payment.credit_card_number %></p>
        <p class="card-text">at: <%= @payment.created_at %></p>
    </div>
</div>