<%= form_with model: ProductComment.new, url: product_product_comments_path(product), method: :post, class: '' do |form| %>
	<div class="form-group mb-2">
		<%= form.label :text, class: 'sr-only' %>
		<%= form.text_area :text, class: 'form-control', size: '10x3', style: 'width: 50%' %>
	</div>
	<%= form.submit "Add Comment", class: 'btn btn-primary mb-2' %>
<% end %>
