<div class="card card-product-comment">
  <div class="card-header">
    <i class="fa fa-user"></i> <%= comment.user.email %> | <%= comment.created_at.normal_format %>
  </div>
  <div class="card-body">
    <p class="card-text"><%= comment.text %></p>
  </div>
</div>