<%= form_with model: Purchase.new, url: product_purchases_path(product), method: :post do |form| %>
	<div class="form-group mb-2">
		<div class="col-sm-6">
			<%= form.number_field :quantity, class: 'form-control', hint: 'choose', :"aria-describedby" => "quantity-help" %>
			<small id="quantity-help" class="form-text text-muted">
				Choose quantity
			</small>
		</div>
	</div>
	<%= form.submit "Purchase", class: 'btn btn-primary mb-2' %>
<% end %>
