.card-product-comment{
	margin: 25px;
}

.card-product {
	margin: 10px;
}

h4.product-title {
	margin: 25px;
}

.api-response-text {
	background-color: silver;
}

.api-response-title {
	margin: 20px !important;
}

.card-purchase {
	margin: 20px !important;
}

footer.footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 150px;
  	line-height: 60px;
}

body {
  padding-bottom: 150px; /* Margin bottom by footer height */
}

html {
	position: relative;
}

#rating-star {
	color: rgb(243, 156, 18) !important;
}
