<footer class="footer mt-auto py-3 bg-secondary text-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        This a demo App
      </div>
      <div class="col-sm-6">
        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/carlos-ramseyer-ab1a3625/"><i class="fab fa-linkedin fa-3x"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/cmramseyer"><i class="fab fa-github fa-3x"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="http://www.ramseyer.com.ar"><i class="fa fa-home fa-3x"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="mailto:cmramseyer@gmail.com"><i class="fa fa-at fa-3x"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
