<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Shop Demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= user_my_orders_path(current_user) %>">My Orders <span class="sr-only">(current)</span></a>
      </li>
      <% if current_user.is_admin? %>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin Panel</a>
        </li>
      <% end %>
    </ul>
    <span class="navbar-text">
      Logged as <%= current_user.email %> &nbsp;&nbsp; 
    </span>
    <%= render partial: '/layouts/search_form', locals: { search: Search.new } %>
  </div>
</nav>